_*
comment.cut
*.aux
*.blg
*.log
*.out
*.synctex.gz
.DS_Store
moldablePatterns.pdf
moldablePatterns-DRAFT-2024-01-16.pdf
WardSome_notes_on_moldablePatterns-DRAFT-2024-01-16.pdf
moldablePatterns-WITH-REVIEWS-2024-01-24-v2.pdf
moldablePatterns.synctex(busy)
